@model MVC.ViewModels.CatalogViewModels.IndexViewModel

@{
    ViewData["Title"] = "Catalog";
}
<section class="esh-catalog-hero">
    <div class="container">
    </div>
</section>

<section class="esh-catalog-filters" style="display: flex; justify-content: space-between">
    <div class="container" style="margin-left: 15px">
        <form asp-action="Index" asp-controller="Catalog" method="post">
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.GenreFilterApplied" asp-items="@Model.Genres" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select asp-for="@Model.PublisherFilterApplied" asp-items="@Model.Publishers" class="esh-catalog-filter"></select>
            </label>
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
    </div>
    <div style="display: flex; justify-content: space-between">
        <form asp-action="Index" asp-controller="Basket" method="post" class="esh-shoping-cart-logo" style="margin: 20px">
            <input class="esh-identity-image" type="submit" value="Basket" />
        </form>
        <form asp-action="Index" asp-controller="Order" method="post" class="esh-shoping-cart-logo" style="margin: 20px">
            <input class="esh-identity-image" type="submit" value="Orders" />
        </form>
    </div>    
</section>

<div class="container">
    <div class="row">
        <br />
        @if(ViewBag.BasketInoperativeMsg != null)
        {
        <div class="alert alert-warning" role="alert">
            &nbsp;@ViewBag.BasketInoperativeMsg
        </div>
        }
    </div>

    @if (Model.CatalogGames.Count() > 0)
    {
    <partial name="_pagination" for="PaginationInfo" />

    <div class="esh-catalog-items row">
        @foreach (var catalogItem in Model.CatalogGames)
            {
        <div class="esh-catalog-item col-md-4">
            <partial name="_product" model="catalogItem" />
        </div>
            }
    </div>

    <partial name="_pagination" for="PaginationInfo" />
    }
    else
    {
    <div class="esh-catalog-items row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>
    }
</div>
