@model MVC.ViewModels.OrderViewModels.IndexViewModel

<section class="esh-catalog-hero">
    <div class="container">
    </div>
</section>

<section class="esh-catalog-filters" style="display:flex; justify-content:end">
    <form asp-action="Index" asp-controller="Catalog" method="post" style="margin:20px">
        <input class="esh-identity-image" type="submit" value="Catalog" />
    </form>
</section>

<div class="container">
    @if (Model.OrderNumbers.Count() > 0)
    {
        @foreach (var number in Model.OrderNumbers)
        {
            <div>
                <h1>
                    <partial name="_orderNumber" model="number" />
                </h1>
                @foreach (var game in Model.OrderGames)
                {
                    @if (game.OrderNumber.Id == number.Id)
                    {
                        <partial name="_orderGame" model="game" />
                    }
                }
                <h1>
                    @Model.Price
                </h1>
            </div>
        }
    }
    else
    {
        <div>
            THERE ARE NO ORDERS
        </div>
    }

</div>